.stripesBg {
    background: repeating-linear-gradient(
  90deg,
  #e7f5f6,
  #e7f5f6 70px,
  #d6eaec 70px,
  #d6eaec 90px
);
height: 900px;
padding-left: 0;
padding-right: 0;
}

#item{
  height: 300px;
  width: 400px;
  border-radius: 15px;
}
.image{
  width: 50%;
  display: block;
  margin: 40px auto;
}
.caption{
  text-align: center;
  font-size: 20px;
}
.heading{
  font-size: 2em;
  margin-left: 20%;
}
.navigateBtn{
   display: flex; 
   justify-content: space-between;
   margin-top: -50px;
}