<div class="container stripesBg">
    <div class="wrapper">
      <span class="heading">What are you</span> <br> 
        <span class="heading"><b>here to do?</b></span>
      <div class="slider-wrapper">
        <div class="slider">
        <div id="item" class="slide">
          <img class="image" src="../assets/images/01.png" />
          <div class="caption">
            <p>Mobile <br> internet</p>
          </div>
        </div>
        <div id="item" class="slide">
          <img class="image" src="../assets/images/01.png" />
          <div class="caption">
            <p>Home <br> internet</p>
          </div>
        </div>
        <div id="item" class="slide">
          <img class="image" src="../assets/images/01.png" />
          <div class="caption">
            <p>Get a device</p>
          </div>
        </div>
        <div id="item" class="slide">
          <img class="image" src="../assets/images/01.png" />
          <div class="caption">
            <p>Add a <br> phone-line</p>
          </div>
        </div>
        <div id="item" class="slide">
          <img class="image" src="../assets/images/01.png" />
          <div class="caption">
            <p>Upgrade</p>
          </div>
        </div>
        </div>
        <div class="navigateBtn">
          <span id="button-right" class="button no-select"><i class="fas fa-chevron-left"></i></span>
          <span id="button-left" class="button no-select"><i class="fas fa-chevron-right"></i></span>
        </div>
      </div>
    </div>
  </div>